<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title %}Минский радиотехнический колледж{% endblock %}
    </title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    {#    {% load static %}#}
    {#    <link rel="stylesheet" href="{% static 'css/styles.css' %}" type="text/css">#}
{##CC1234#}
</head>
<body>
    {% csrf_token %}
    <script>
        let CSRF = document.getElementsByName('csrfmiddlewaretoken')[0].value;
        let URL_PREFIX = 'http' + '://' + '{{ request.META.HTTP_HOST }}' + '/';
        let axios_instance = axios.create(
            {
                baseURL: URL_PREFIX,
                headers:{'X-CSRFToken':CSRF},
            }
        );
    </script>
    {% block header %}
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="{% url 'main_app:base_page' %}">БГУИР<br>Филиал "Минский радиотехнический колледж"</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'main_app:base_page' %}">Главная<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Студентам</a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="#">Расписание</a>
                        <a class="dropdown-item" href="#">Практика</a>
                        <a class="dropdown-item" href="#">Документы</a>
                        <a class="dropdown-item" href="#">Анкетирование</a>
                        <a class="dropdown-item" href="#">Списки групп</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">О колледже</a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="#">История</a>
                        <a class="dropdown-item" href="#">Структура колледжа</a>
                        <a class="dropdown-item" href="#">Цикловые коммисии</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Абитуриентам</a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="#">Информация о специальностях</a>
                        <a class="dropdown-item" href="#">Прием документов</a>
                        <a class="dropdown-item" href="#">Подготовительные курсы</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'news_app:news_page' %}">Новости</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Контакты</a>
                </li>
            </ul>
            <span class="navbar-text">
                <a class="nav-link" href="#">Вход</a>
            </span>
        </div>
    </nav>
    {% endblock %}
    {% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-2" style="background-color: #CC1234">
                здесь будут отображаться последнии новости
            </div>
            <div class="col-lg-10" style="background-color: #1234CC">
                здесь будет список специальностей
            </div>
        </div>
    </div>
    {% endblock %}
    {% block footer %}

    {% endblock %}
</body>
</html>
