{% extends 'main_app/base.html' %}
{% load static %}
{% block title %}
    Контакты
{% endblock %}
{% block content %}
    <div class="container" style="background: #FFFFFF">
        <h3 class="center_black_text">Учреждение образования "Белорусский государственный университет информатики и радиоэлектроники" филиал "Минский радиотехнический колледж"</h3>
        <br>
        <h5>Основные данные</h5>
        <div style="padding-left: 5%">
            <p>Адрес: 220005, г.Минск, пр.Независимости, 62.</p>
            <p>Тел.: (017) 292-62-85.</p>
            <p>Факс: (017) 331-89-45.</p>
            <p>E-mail: office@mrk-bsuir.by</p>
            <p>Skype: mrk-bsuir</p>
            <p>Официальный сайт: http://www.mrk-bsuir.by</p>
        </div>
        <hr>
        <div class="row">
            <div class="col-lg-4">
                <img src="{% static 'main_app/image/director.jpg'%}" class="size-contacts">
            </div>
            <div class="col-lg-8">
                <p>Директор, к.п.н., доцент, отличник образования РБ</p>
                <p>Анкуда Сергей Николаевич</p>
                <p>каб. 208</p>
                <p>тел. 292-62-85</p>
                <p>e-mail:</p>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-lg-4">
                <img src="{% static 'main_app/image/img_page_contacts/shunchik.jpg'%}" class="size-contacts">
            </div>
            <div class="col-lg-8">
                <p>Заместитель директора по учебной работе, к.филол.н, доцент</p>
                <p>Шумчик Франц Станиславович</p>
                <p>каб. 208</p>
                <p>тел. 292-17-70</p>
                <p>e-mail:</p>
            </div>
        </div>
            <hr>
        <div class="row">
            <div class="col-lg-4">
                <img src="{% static 'main_app/image/img_page_contacts/img_9588.jpg'%}" class="size-contacts">
            </div>
            <div class="col-lg-8">
                <p>Заместитель директора по учебно-методической работе</p>
                <p>Бельчик  Марина Анатольевна, преподаватель высшей категории</p>
                <p>каб. 306б</p>
                <p>тел. 331-72-67</p>
                <p>e-mail:</p>
            </div>
        </div>
            <hr>
        <div class="row">
            <div class="col-lg-4">
                <img src="{% static 'main_app/image/img_page_contacts/naumenko_0.jpg'%}" class="size-contacts">
            </div>
            <div class="col-lg-8">
                <p>Заместитель директора по производственному обучению, магистр образования</p>
                <p>Науменко Жанна Николаевна</p>
                <p>каб. 428</p>
                <p>тел. 292-17-44</p>
                <p>e-mail:</p>
            </div>
        </div>
            <hr>
        <div class="row">
            <div class="col-lg-4">
                <img src="{% static 'main_app/image/img_page_contacts/20190111_160220.jpg'%}" class="size-contacts">
            </div>
            <div class="col-lg-8">
                <p>Заместитель директора по воспитательной работе, магистр управления</p>
                <p>Кудин Вадим Геннадьевич</p>
                <p>каб. 203</p>
                <p>тел. 202-07-20</p>
                <p>e-mail:</p>
            </div>
        </div>
    </div>
{% endblock %}
