{% extends 'main_app/base.html' %}
{% load static %}
{% block title %}
    Контакты
{% endblock %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <img src="{% static 'main_app/image/director.jpg'%}">
            </div>
            <div class="col-lg-9">
                <p>
                    Директор, к.п.н., доцент, отличник образования РБ
                    Анкуда Сергей Николаевич

                    каб. 208

                    тел. 292-62-85

                    e-mail:
                </p>
            </div>
        </div>
    </div>
{% endblock %}
