{% extends 'main_app/base.html' %}
{% load static %}
{% block title %}
    Подготовительные курсы
{% endblock %}
{% block content %}
    <div class="container" style="background: #FFFFFF">
        <br>
        <h3 class="center_black_text">Подготовительные курсы</h3>
        <div style="padding-left: 5%">
            <p><b>Ф.И.О:</b> Чистая Татьяна Александровна</p>
            <p><b>Должность:</b> методист</p>
            <p><b>Адрес:</b> 220005, г. Минск, пр. Независимости, 62, каб. 410</p>
            <p><b>Телефон:</b> 8(017)296-69-54</p>
            <p><b>e-mail:</b> pk@mrk-bsuir.by</p>
        </div>
        <hr>
        <h3 class="center_black_text">Приветствуем Вас, наши будущие слушатели!</h3>
        <p class="history_page_indent">Подготовительные курсы являются структурным подразделением колледжа и предоставляют дополнительные образовательные услуги гражданам при подготовке к поступлению в учреждения образования Республики Беларусь, а также для повышения уровня знаний по учебным предметам.
Основными целями наших подготовительных курсов является:</p>
        <ul type="square">
            <li><p>формирование у слушателей знаний, достаточных для поступления в учреждения высшего и среднего специального образования;</p></li>
            <li><p>преодоление разрыва между уровнем подготовки слушателей и требованиями, предъявляемыми к абитуриентам при сдаче вступительных испытаний при поступлении в учреждения высшего и среднего специального образования;</p></li>
            <li><p>проведение профессиональной ориентации с выпускниками учреждений общего среднего, профессионально-технического и среднего специального образования;</p></li>
            <li><p>формирование у слушателей патриотизма, гражданственности, духовно-нравственных качеств, развитие чувства личной ответственности и активной жизненной позиции, повышение их интеллектуального уровня и культуры.</p></li>
        </ul>
        <div class="row">
            <div class="col-lg-4"><img src="{% static 'main_app/image/2.jpg' %}" class="size-contacts"></div>
            <div class="col-lg-8"><p class="history_page_indent">Занятия на курсах проводят высококвалифицированные преподаватели, имеющие большой опыт работы по подготовке абитуриентов для поступления в учреждения образования. Они помогут Вам заполнить пробелы в знаниях, систематизировать материал, обратят внимания на трудные места.

Подготовка по всем подготовительным курсам ведётся в группах комплектацией по 10 человек, что позволяет уделить внимание каждому слушателю и ответить на все интересующие его вопросы.</p></div>
        </div>
        <div class="row">
            <div class="col-lg-8"><p class="history_page_indent">Опыт работы подготовительных курсов показал:
слушатели подготовительных курсов - самые успешные абитуриенты;
обучающиеся на подготовительных курсах получают дополнительные знания, необходимые для дальнейшей учебы в колледже;
в период обучения на подготовительных курсах молодые люди знакомятся со структурой колледжа, его руководством, преподавателями, привыкают к Правилам внутреннего распорядка, что сокращает период адаптации в новом учебном заведении.</p></div>
            <div class="col-lg-4"><img src="{% static 'main_app/image/3.jpg' %} " class="size-contacts"></div>
        </div>
        <hr>
        <h3 class="center_black_text">Виды подготовительных курсов:</h3>
        <p>Для учащихся 9-х классов подготовительные курсы проводятся по предметам:</p>
        <ul type="square">
            <li>математика;</li>
            <li>белорусский (русский) язык.</li>
        </ul>
        <p>По своему желанию Вы можете выбрать один из указанных ниже циклов:</p>
        <h5>8-месячные (октябрь - май)</h5>
        <p class="history_page_indent">Минский государственный высший радиотехнический колледж проводит набор на платные Подготовительные курсы для подготовки к поступлению в МРК и другие учебные заведения Республики Беларусь 2019-2020, а также для повышения уровня знаний по учебным предметам.</p>
        <ul type="square">
            <li>математика;</li>
            <li>белорусский (русский) язык.</li>
        </ul>
        <p class="history_page_indent">Учебная программа подготовительных курсов предусматривает 220 учебных часов по каждому из предметов.
Занятия проводятся:</p>
        <ul type="square">
            <li>октябрь - декабрь - воскресенье с 9.00 до 14.00;</li>
            <li>январь - май –  среда с 17.00 до 20.20, - воскресенье с 9.00 до 14.00</li>
        </ul>
        <h5>5-месячные (январь - май)</h5>
        <p class="history_page_indent">Запись на курсы начинается с 01.12.2018
Для учащихся 9-х классов (за 8-9 класс) по предметам:</p>
        <ul type="square">
            <li>математика;</li>
            <li>белорусский (русский) язык;</li>
            <li>физика.</li>
        </ul>
        <h5>3-месячные (март - май)</h5>
        <p class="history_page_indent">Предварительная запись осуществляется с 23 января по 13 февраля по телефону 296-69-54. Заключение договора будет проходить с 13 февраля по 24 февраля, каб. 410
Для учащихся 9-х классов (за 8-9 класс) по предметам:</p>
        <ul type="square">
            <li>математика;</li>
            <li>белорусский (русский) язык.</li>
        </ul>
        <hr>
        <h3 class="center_black_text">Обучение на подготовительных курсах платное</h3>
        <p class="history_page_indent">Оплата за обучение производится (после предварительной регистрации) через банк на расчётный счёт колледжа с указанием адреса, фамилии, имени, отчества слушателя и вида платежа (за обучение на подготовительных курсах).

При записи на подготовительные курсы при себе необходимо иметь:</p>
        <ol>
            <li>паспорт (свидетельство о рождении);</li>
            <li>паспорт одного из родителей (опекуна) (если слушатель не достиг 18 лет).</li>
        </ol>
        <p class="history_page_indent">Если у Вас появились дополнительные вопросы о подготовительных курсах, или не можете решить, на какие Вам лучше записаться, обращайтесь по телефону: (8-017) 296-69-54 (звоните, пожалуйста, в будние дни с 9 до 17 часов), каб. 410</p>
        <br>
        <br>
        <br>
        <h2 class="center_black_text">БУДЕМ РАДЫ ВИДЕТЬ ВАС В РЯДАХ СЛУШАТЕЛЕЙ ПОДГОТОВИТЕЛЬНЫХ КУРСОВ ФИЛИАЛА "МИНСКИЙ РАДИОТЕХНИЧЕСКИЙ КОЛЛЕДЖ" БГУИР !</h2>
        <br>
    </div>
{% endblock %}
