{% extends 'main_app/base.html' %}
{% block title %}
    История колледжа
{% endblock %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-lg-12" style="background: #FFFFFF; padding-top: 1%">
                <h5 align="center">Дорогие преподаватели, сотрудники и учащиеся филиала<br>"Минский радиотехнический колледж" !</h5>
                <p class="history_page_indent">Наше учебное заведение имеет долгую и яркую историю. 2 июля 1960 г. на основании постановления Совета Министров БССР № 383 был создан Минский радиотехнический техникум.
                    Начав свою деятельность в период формирования и развития радиоэлектронной промышленности в Республике Беларусь, радиотехнический техникум постепенно преобразовался в высший колледж.
                </p>
                <p class="history_page_indent">
                    1 сентября 1960г. 200 учащихся приступили к занятиям в только что открытом Минском радиотехническом техникуме, создание которого было предопределено развитием промышленного производства , что выявило потребность республики в квалифицированных технических кадрах. Первый набор учащихся был проведен по специальностям: "Электронные вычислительные машины, приборы и устройства", "Радиоаппаратостроение", "Производство радиоизоляционных материалов и радиодеталей", "Программирование для быстродействующих математических машин".
                </p>
                <p class="history_page_indent">
                    22 преподавателя осуществляли подготовку специалистов по дневной и заочной формам обучения. Среди них были участники Великой Отечественной войны, в том числе – Герой Советского Союза Иван Елисеевич Самбук.
                </p>
                <p class="history_page_indent">
                    В 1991 году вышел приказ Министерства народного образования РБ №144 от 17.06.91. «О преобразовании в порядке эксперимента Минского радиотехни­ческого техникума в учебное заведение нового типа - колледж».
                </p>
                <p class="history_page_indent">
                    В 1995 году колледж был снова реорганизован и получил новый статус и название – Минский государственный высший радиотехнический колледж.
                </p>
                <p class="history_page_indent">
                    Учащиеся, проучившиеся на 1 и 2 курсе и проявившие хорошие знания предметов, прошедшие тестирование и подтвердившие свои знания на контрольном срезе, переводились на второй уровень обучения, получая параллельно со знаниями специальных предметов педагогическое образование, а после окончания МГВРК – педагог-радиоинженер, педагог-экономист, педагог-программист. Выпуск первых двадцати студентов с высшим образованием по специальности «Профессиональное обучение» состоялся в 1998г.
                </p>
                <p class="history_page_indent">
                    Нельзя не вспомнить тех, кто закладывал основы истории колледжа. Значительный вклад в развитие радиотехнического техникума, а затем Минского государственного высшего радиотехнического колледжа, внесли его руководители:
                </p>
                <p class="history_page_indent">
                    Директора:
                </p>
            </div>
        </div>
    </div>
{% endblock %}
