{% extends 'main_app/base.html' %}
{% load static %}
{% block title %}
    История колледжа
{% endblock %}
{% block content %}
    <div class="container" style="background: #FFFFFF; padding-top: 1%">
        <div class="row">
            <div class="col-lg-12">
                <h5 align="center">Дорогие преподаватели, сотрудники и учащиеся филиала<br>"Минский радиотехнический колледж" !</h5>
            </div>
            <div class="col-lg-4">
                <img src="{% static 'main_app/image/director.jpg' %}" style="width: 100%; height: 100%">
            </div>
            <div class="col-lg-8">
                <p class="history_page_indent">Наше учебное заведение имеет долгую и яркую историю. 2 июля 1960 г. на основании постановления Совета Министров БССР № 383 был создан Минский радиотехнический техникум.
                    Начав свою деятельность в период формирования и развития радиоэлектронной промышленности в Республике Беларусь, радиотехнический техникум постепенно преобразовался в высший колледж.
                </p>
                <p class="history_page_indent">
                    1 сентября 1960г. 200 учащихся приступили к занятиям в только что открытом Минском радиотехническом техникуме, создание которого было предопределено развитием промышленного производства , что выявило потребность республики в квалифицированных технических кадрах. Первый набор учащихся был проведен по специальностям: "Электронные вычислительные машины, приборы и устройства", "Радиоаппаратостроение", "Производство радиоизоляционных материалов и радиодеталей", "Программирование для быстродействующих математических машин".
                </p>
            </div>
            <div class="col-lg-12">
                <p class="history_page_indent">
                    22 преподавателя осуществляли подготовку специалистов по дневной и заочной формам обучения. Среди них были участники Великой Отечественной войны, в том числе – Герой Советского Союза Иван Елисеевич Самбук.
                </p>
                <p class="history_page_indent">
                    В 1991 году вышел приказ Министерства народного образования РБ №144 от 17.06.91. «О преобразовании в порядке эксперимента Минского радиотехни­ческого техникума в учебное заведение нового типа - колледж».
                </p>
                <p class="history_page_indent">
                    В 1995 году колледж был снова реорганизован и получил новый статус и название – Минский государственный высший радиотехнический колледж.
                </p>
                <p class="history_page_indent">
                    Учащиеся, проучившиеся на 1 и 2 курсе и проявившие хорошие знания предметов, прошедшие тестирование и подтвердившие свои знания на контрольном срезе, переводились на второй уровень обучения, получая параллельно со знаниями специальных предметов педагогическое образование, а после окончания МГВРК – педагог-радиоинженер, педагог-экономист, педагог-программист. Выпуск первых двадцати студентов с высшим образованием по специальности «Профессиональное обучение» состоялся в 1998г.
                </p>
                <p class="history_page_indent">
                    Нельзя не вспомнить тех, кто закладывал основы истории колледжа. Значительный вклад в развитие радиотехнического техникума, а затем Минского государственного высшего радиотехнического колледжа, внесли его руководители:
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <h5 align="center">
                    Директора:
                </h5>
            </div>
            <div class="col-lg-6" style="padding-left: 15%">
                <p class="history_page_indent">Решетов В.И. - с 1960 по 1971 гг</p>
                <img src="{% static 'main_app/image/reshetov.jpg' %}" class="size_director_history_page">
                <p class="history_page_indent">Макаревич Е.Н. - с 1974 по 1980 гг</p>
                <img src="{% static 'main_app/image/makarevich.jpg' %}" class="size_director_history_page">
            </div>
            <div class="col-lg-6" style="padding-left: 10%">
                <p class="history_page_indent">Капышев В.И. - с 1971 по 1974 гг</p>
                <img src="{% static 'main_app/image/kapyshev.jpg' %}" class="size_director_history_page">
                <p class="history_page_indent">Малишевский В.Ф. - с 1981 по 1985 гг.</p>
                <img src="{% static 'main_app/image/malishevskiy.jpg' %}" class="size_director_history_page">
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-lg-12">
                <h5 align="center">
                    Ректоры:
                </h5>
            </div>
            <div class="col-lg-6" style="padding-left: 15%">
                <p class="history_page_indent">Цырельчук Н.А. - с 1985 по август 2010 - ректор МГВРК</p>
                <img src="{% static 'main_app/image/cyrelchuk.jpg' %}" class="size_director_history_page">
            </div>
            <div class="col-lg-6" style="padding-left: 10%">
                <p class="history_page_indent">Анкуда С.Н. - с 01.09.2010 по 31.08.2015 г. С 01.09.2015 г. - директор МРК</p>
                <img src="{% static 'main_app/image/ankuda.png' %}" class="size_director_history_page">
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-lg-12">
                <h5 align="center">
                    История:
                </h5>
                <p class="history_page_indent">
                    Словами благодарности  и любви мы отмечаем педагогов, которые трудятся в колледже уже не один десяток лет и передают свои знания студентам, свой педагогический опыт - начинающим преподавателям:
                </p>
                <p class="history_page_indent">
                    <b>Яковенко В.И.</b> , заслуженного учителя БССР;
                </p>
                <p class="history_page_indent">
                    <b>Назарова Л.В., Прудника М.Ф.</b> , награжденных значком "Отличник образования Республики Беларусь";
                </p>
                <p class="history_page_indent">
                    преподавателей <b>Башкирову Н.Б., Василевскую Н.И., Вдовиченко Л Л., Даниленко Б.П., Ермакова А.Я.,  Иванову С.И., Каверовича В.В., Каяновича С.С., Кирея О.Н., Лабкович Л.В., Лапковскую Т.В., Лашкову Н.А., Марченкову Л.Г.,  Парафиянович Т.А., Петровича А.А., Пикулик А.П., Руденкову В.И., Саникович О.И., Седякину Т.С., Скуднякова Ю.А., Снежкову И.М., Солодкову Н.Т., Тараканова А.Н., Тарасевича В.Г., Тихонову Л.А., Трояна Ф.Д., Хехневу В.Ф., Чистую Т.А., Шишанкова А.В., Федосенко В.И.;</b>
                </p>
                <p class="history_page_indent">
                    сотрудников <b>Андреенкову Т.С., Дубовика Н.Г., Ефремову Т.С., Малышко И.А., Пинчукову Р.Д., Супрунович Л.Ф., Худолей М.А.</b>
                </p>
                <p class="history_page_indent">
                    С глубокой теплотой бывшие выпускники вспоминают об уроках преподавателей, ушедших на заслуженный отдых или работающих в других учебных заведениях:
                </p>
                <p class="history_page_indent">
                    <b>Бурдиной И.Н., Гуревича О.С., Лазаревич Т.К.</b> - заслуженных учителей БССР;
                </p>
                <p class="history_page_indent">
                    <b>Атроховой Л.Ф., Богдановской Л.А., Труся А.К.,</b> награжденных значком "Отличник образования БССР"; <b>Омельяновой В.И.,</b>  награжденной значком "Отличник образования Республики Беларусь";
                </p>
                <p class="history_page_indent">
                    преподавателей и сотрудников <b>Алиференко В.В., Альферович Т.Я., Амельяновой В.В., Бресловой-Масленниковой Е.К., Боровой Т.И., Волос Т.М., Воронцовой Т.В., Гавриловой Г.К., Гилицкой Л.Н., Гурской И.Ф., Джагаровой И.А., Достанко О.А., Дутко Т.А., Каретниковой С.Г., Климова А.П., Королькова В.С.,  Красовской В.И, Крейцера М.В., Кузика В.В., Кунцевича Г.В., Кунцевича О.В., Лакеевой М.Д., Лойко М.М., Майсени Л.И.,  Манкевича И.И., Мухиной В.С., Нестерова И.С., Нехайчик Т.В.,  Орешко А.А.,  Сидоренко Л.В.,  Чубановой Н.С., Шутилиной Г.Н.;</b>
                </p>
                <img src="{% static 'main_app/image/voenae_mrc.jpg' %}" align="center">
                <p class="history_page_indent">
                    Светлая память остаётся в наших сердцах о тех, кого уже нет в живых, но чьи труд и творчество и поныне озаряют стены колледжа. Мы всегда будем помнить:
                </p>
                <p class="history_page_indent">
                    <b>Цырельчука Н.А.,</b> заслуженного работника образования БССР, награжденного значком "Отличник образования Республики Беларусь", к.т.н., профессора, директора техникума с 1985 года, с 1995 года по август 2010 ректора МГВРК, который, к сожалению, ушёл от нас 1 июля 2011г.
                </p>
                <p class="history_page_indent">
                    <b>Зарембо Э.Д.,</b> заслуженного мастера спорта СССР, футболиста минского «Динамо» 60-х годов, одно из сильнейших защитников в истории белорусского футбола;
                </p>
                <p class="history_page_indent">
                    <b>Грицай А.В., Демидовца В.И, Дроздова В.Г., Кешишьянца И.Л., Мелешкевича А.М, Никольского С.А, Рахмакову Г.Н., Слагоду Н.М., Хачатаряна Ю.М., Шаркова В.И., Шкут Н.А.,</b>
                </p>
                <p class="history_page_indent">
                    За годы существования деятельность МРК отмечена многочисленными индивидуальными и коллективными наградами, призами, благодарностями.
                </p>
                <p class="history_page_indent">
                    По итогам Всесоюзного социалистического соревнования среди средних специальных учебных заведений СССР техникум занимал первое место в 1987 и 1988 годах и был награжден Переходящим Красным Знаменем Министерства высшего и среднего специального образования СССР и ЦК профсоюза работников просвещения высшей школы и научных учреждений, а в 1990 году - Переходящим Красным Знаменем Министерства народного образования БССР.
                </p>
            </div>
        </div>
    </div>
{% endblock %}
