{% extends 'main_app/base.html' %}
{% load static %}
{% block title %}
    Практика
{%  endblock %}
{% block content %}

    <div class="container" style="background: #FFFFFF">
        <h3 class="center_black_text">Основная информация о проведении практики</h3>
        <p class="history_page_indent">
        Практика учащихся, является частью образовательного процесса, организуется и проводится учреждением образования «Белорусский государственный университет информатики и радиоэлектроники» филиалом «Минский радиотехнический колледж» (далее – МРК) в тесном взаимодействии с государственными органами и организациями, для которых осуществляется подготовка специалистов.

        Основными задачами производственной практики (далее – практика) учащихся МРК являются закрепление и углубление знаний, полученных учащимися в процессе теоретического обучения, формирование у них необходимых умений и навыков по избранной специальности.

        Практика на всех этапах должна обеспечить:

        выполнение требований к содержанию и уровню подготовки специалиста в соответствии с образовательным стандартом специальности (специализации);

        последовательное расширение формируемых у учащегося практических умений и навыков, их усложнение по мере перехода от одного этапа практики к другому;

        подготовку учащегося к выполнению основных трудовых функций;

        связь с теоретическим обучением;

        участие учащегося в рационализаторской, изобретательской, творческой деятельности;

        профессиональную и социальную адаптацию учащегося в условиях производства.

        Производственная практика подразделяется на технологическую и преддипломную.

        Задачами технологической практики являются приобретение учащимся профессиональных умений и навыков по специальности, закрепление, углубление и систематизация знаний по специальным дисциплинам, изучение технологии и организации производства, приобретение практического опыта, развитие профессионального мышления, повышение уровня квалификации по профессии. В период прохождения технологической практики учащийся может привлекаться к различным видам работ, соответствующим профилю образования и программе практики, участвовать в проектно-изыскательской, опытной, творческой работе, получить квалификационный разряд (класс, категорию) по профессии или получить дополнительную профессию в соответствии со специальностью.

         Задачами преддипломной практики являются изучение организации и управления производством, проверка возможностей учащегося самостоятельно выполнять профессиональные функции, а для ряда специальностей (специализаций) – подготовка материалов к дипломному проекту.

         Во время прохождения преддипломной практики учащийся выполняет работу, предусмотренную должностными обязанностями квалификационных характеристик по получаемой им специальности, а при наличии вакансий он может быть принят на работу.

        Учащийся, обучающийся на заочной форме получения образования, проходит преддипломную практику продолжительностью 30 календарных дней по месту работы. В случае, если работа учащегося не связана с будущей специальностью (специализацией), он должен быть направлен на преддипломную практику на общих основаниях.

         Учащийся, не выполнивший требования учебной программы практик и получивший неудовлетворительную отметку по итогам практик, отчисляется из МРК.

        Справочная информация: тел. 8017-2921744, e-mail zam_po@mrk-bsuir.by

        Науменко Жанна Николаевна, заместитель директора по производственному обучению.</p>
        <hr>
        <h3 class="center_black_text">График проведения практики</h3>
        <h5>«Микро- и наноэлектронные технологии и системы»</h5>
        <table class="table table-hover table-bordered" style="background: #FFFFFF">
            <thead>
                <tr>
                    <th>Группа</th>
                    <th>Вид практики</th>
                    <th>Начало практики</th>
                    <th>Завершение практики</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>8К3791</td>
                    <td>практика по технологии обработки информации на ПК</td>
                    <td>30.09.2019</td>
                    <td>12.10.2019</td>
                </tr>
                <tr>
                    <td>8К3791</td>
                    <td>практика электро­монтажная</td>
                    <td>09.03.2020</td>
                    <td>21.03.2020</td>
                </tr>
                <tr>
                    <td>8К3791</td>
                    <td>практика электро­радио­измеритель­ная</td>
                    <td>20.04.2020</td>
                    <td> 02.05.2020</td>
                </tr>
                <tr>
                    <td>7К3791</td>
                    <td>практика для получения квалификации рабочего</td>
                    <td>24.02.2020</td>
                    <td>30.05.2020</td>
                </tr>
            </tbody>
        </table>
        <h5>«Проектирование и производство радиоэлектронных средств»</h5>
        <table class="table table-hover table-bordered" style="background: #FFFFFF">
            <thead>
                <tr>
                    <th>Группа</th>
                    <th>Вид практики</th>
                    <th>Начало практики</th>
                    <th>Завершение практики</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            </tbody>
        </table>
        <h5>«Техническая эксплуатация радиоэлектронных средств»</h5>
        <table class="table table-hover table-bordered" style="background: #FFFFFF">
            <thead>
                <tr>
                    <th>Группа</th>
                    <th>Вид практики</th>
                    <th>Начало практики</th>
                    <th>Завершение практики</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            </tbody>
        </table>
        <h5>«Программируемые мобильные системы»</h5>
        <table class="table table-hover table-bordered" style="background: #FFFFFF">
            <thead>
                <tr>
                    <th>Группа</th>
                    <th>Вид практики</th>
                    <th>Начало практики</th>
                    <th>Завершение практики</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            </tbody>
        </table>
        <h5>«Электронные вычислительные средства»</h5>
        <table class="table table-hover table-bordered" style="background: #FFFFFF">
            <thead>
                <tr>
                    <th>Группа</th>
                    <th>Вид практики</th>
                    <th>Начало практики</th>
                    <th>Завершение практики</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            </tbody>
        </table>
        <h5>«Программное обеспечение информационных технологий»</h5>
        <table class="table table-hover table-bordered" style="background: #FFFFFF">
            <thead>
                <tr>
                    <th>Группа</th>
                    <th>Вид практики</th>
                    <th>Начало практики</th>
                    <th>Завершение практики</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            </tbody>
        </table>
    </div>
{%  endblock %}
