{% extends 'main_app/base.html'%}
{% load static %}
{% block title %}
    Документы
{% endblock %}
{% block content %}
    <div class="container" style="background: #FFFFFF">
        <div class="row">
              <div class="col-lg-12">
                  <h3 class="center_black_text">Анкетирование</h3>
                  <ol>
                      <li><a href="https://docs.google.com/forms/d/e/1FAIpQLSf3iyXkXDGZ8KTPnnHs4WBMo17oQBQ34bS-TDBoLDkBwGmwlQ/viewform">Анкета для учащихся филиала БГУИР "Минский радиотехнический колледж"</a></li>
                      <li><a href="https://docs.google.com/forms/d/e/1FAIpQLSecFU_0_s44GbQbgm5AjNsY7UKKWTtfixmQq0rBfWIWfCEwcg/viewform">Опрос по учебной практике</a></li>
                      <li><a href="https://docs.google.com/forms/d/e/1FAIpQLScGae6IX1lVwaRpddoJuhD37T7LkMuU0463xN96lBDibJlDaA/viewform">1 курс ИТ</a></li>
                      <li><a href="https://docs.google.com/forms/d/e/1FAIpQLSdLG36IGkg1UXFGuhCc2WM563cyVTdpf6HibBtXKrWx04GyCQ/viewform">Анкета для обучающихся курса "Создание приложений под Android. Технология MIT APP INVENTOR 2"</a></li>
                      <li><a href="https://docs.google.com/forms/d/e/1FAIpQLSdFe_nxq_ganzKDSiCfddlbCc4kG8b03ZzSv2Jks8KvUyytiA/viewform">Анкета для учающихся 1 и 2 курса</a></li>
                      <li><a href="https://docs.google.com/forms/d/e/1FAIpQLSf8Oy0XRMcbyHoGNN2y8K0iiOg3o16z1enl8k95moCJTAxAxA/viewform">Анкета для учающихся 3 и 4 курса</a></li>
                      <li><a href="https://docs.google.com/forms/d/1yT4rroHh2d4n2-T5zl1ZuEGRNN64JWVZBh2gSyjBYX0/edit?usp=sharing_eil&ts=5cc978f8">Анкета для учающихся отделения компьютерных технологий</a></li>
                      <li><a href="https://drive.google.com/open?id=18tnJZZcJrLxD9zjDf05hOx9GgTpKQJLPErxPzYD1w3A">Опрос учащихся</a></li>
                  </ol>
                  <hr>
                  <h3 class="center_black_text">Зачем проводится анкетирование?</h3>
                  <p class="history_page_indent">Анкетирование в психологии используется с целью получения психологической информации, а социологические и демографические данные играют лишь вспомогательную роль. Контакт психолога с респондентом при анкетировании, в отличие от интервьюирования, сведён к минимуму. Анкетирование позволяет наиболее жёстко следовать намеченному плану исследования, так как процедура «вопрос-ответ» строго регламентирована.</li>
При помощи метода анкетирования можно с наименьшими затратами получить высокий уровень массовости исследования. Особенностью этого метода можно назвать его анонимность (личность респондента не фиксируется, фиксируются лишь его ответы). Анкетирование проводится в основном в случаях, когда необходимо выяснить мнения людей по каким-то вопросам и охватить большое число людей за короткий срок.</li>
Пионером использования анкеты в психологическом исследовании считают Ф. Гальтона, который в своём исследовании влияния наследственности и среды на уровень интеллектуальных достижений при помощи анкеты опросил сотню крупнейших британских учёных.</p>
                  <hr>
                  <h3 class="center_black_text">Виды анкетирования</h3>
                  <ul>
                      <h5>По числу респондентов</h5>
                      <li>Индивидуальное анкетирование — опрашивается один респондент;</li>
                      <li>Групповое анкетирование — опрашиваются несколько респондентов;</li>
                      <li>Аудиторное анкетирование — методическая и организационная разновидность анкетирования, состоящая в одновременном заполнении анкет группой людей, собранных в одном помещении в соответствии с правилами выборочной процедуры;
                      <li>Массовое анкетирование — участвуют от сотни до нескольких тысяч респондентов (на практике работа трудоёмкая, а результаты менее корректны).
                      <h5>По полноте охвата</h5>
                      <li>Сплошное — опрос всех представителей выборки;</li>
                      <li>Выборочное — опрос части представителей выборки.</li>
                      <h5>По типу контактов с респондентом</h5>
                      <li>Очное — проводится в присутствии исследователя-анкетёра;</li>
                      <li>Заочное — анкетёр отсутствует:</li>
                  </ul>
                  <ul type="square" style="padding-left: 80px">
                      <li>Рассылка анкет по почте;</li>
                      <li>Публикация анкет в прессе;</li>
                      <li>Публикация анкет в Интернете;</li>
                      <li>Вручение и сбор анкет по месту жительства, работы и т. д.</li>
                  </ul>
              </div>
        </div>
    </div>
{%  endblock %}



