{% extends 'main_app/base.html'%}
{% block title %}
        Специальности МРК
{% endblock %}
{% block content %}
    <div class="container" style="background: #FFFFFF">
        <div class="row">
            <div class="col-lg-12">
                {% for item in specialty %}
                    <h3 class="center_black_text">{{ item.specialty_title }}</h3>
                    <a href="{% url 'main_app:specialty_page' item.id%}"><img src="{{ item.specialty_logo.url }}"></a>
                    <p class="history_page_indent">{{ item.specialty_descriptions }}</p>
                    <hr>
                {% endfor %}
            </div>
        </div>
    </div>
{%  endblock %}
