{% extends 'main_app/base.html' %}
{% block title %}
    Расписание пар
{% endblock %}
{% block content %}
    <div class="table-responsive"  style="background-color: #ECF2FF">
        <table class="table table-hover table-bordered">
            <thead>
                <tr>
                    <th>Радиотехническое отделение</th>
                    <th>Отделение компьютерных технологий</th>
                    <th>Отделение электроники</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>9К9091, 9К9191, 9К9291, 9К9111,<br>8К1191,  8К1391, 8К1591</td>
                    <td>8К1111, 7К1191, 7К1591,7К1391 </td>
                    <td>7К1111, 61191, 61591, 61391</td>
                </tr>
                <tr>
                    <td>9К9391, 9К9392, 9К9393,<br>9К9394, 9К9311, 8К2491</td>
                    <td>8К2492п, 8К2493п, 8К2411,<br>7К2491, 7К2492п, 7К2493п</td>
                    <td>7К2411, 62491, 62492п, 62493п</td>
                </tr>
                <tr>
                    <td>9К9491, 9К9591, 8К3791, 8К3291</td>
                    <td>63291, 63791</td>
                    <td>7К3291,7К3791</td>
                </tr>
            </tbody>
        </table>
    </div>
{% endblock %}
